<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Footer Icon link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- css -->
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <title>Resumer Name Extractor</title>

  </head>
  <body>
    <div class="head">
      <h1>Resume Name Extractor</h1>
    </div>
    <div class="upload_files">
      <form action="\resumes_name" method="post" enctype="multipart/form-data">
      <div class="file-upload-wrapper">
        <input type="file" id="input-file-now" name="files" class="file-upload" multiple />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
     {% if up_files %}
     <a href="/download_file">Click me.</a>
     <h2>Resume Dataframe</h2>
    <div class="resume_table my-3">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Sr.</th>
                <th scope="col">Person Name</th>
                <th scope="col">Resume File</th>
              </tr>
            </thead>
            <tbody>
              {% for person_name,file_name in persons_file %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{person_name}}</td>
                <td>{{file_name}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    {% endif %}

    <div class="footer">
      <div class="social-icons">
        <a href="https://github.com/g0urav-hustler" target="_blank" class="link"><i class='bx bxl-github'></i></a>
        <a href="https://www.linkedin.com/in/gourav-chouhan-3b357a202/" target="_blank" class="link"><i class='bx bxl-linkedin-square'></i></a>
        <a href="https://www.instagram.com/g0urav_hustler/" target="_blank" class="link"><i class='bx bxl-instagram'></i></a>
      </div>
      <p><h4>©2021 Gourav Chouhan</h4></p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>